@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.template-creator-column {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.template-creator-row {
  height: 100vh;
}

.instruction {
 color: #badbcc;
// background-color: #d1e7dd;
// border-color: #badbcc;
}
.template-creator-column .list-group-item,
.book-list .list-group-item {
  z-index: 1;
}
.template-creator-column .list-group-item .btn-close,
.book-list .list-group-item .btn-close {
  z-index: 2;
}
.template-creator-column .add-tool,
.btn-save {
  margin: 5pt;
}

#root h1 {
  margin: 60px 0 20px;
}
#root .navbar {
  padding-left: 40px;
  padding-right: 40px;
}
#root .navbar-expand-lg {
  justify-content: space-between;
}
#root .form-floating {
  margin: 20px 0;
}
#root .sign-up-form,
#root .sign-in-form {
  max-width: 450px;
}

.list-group-item {
  background: #eee;
}

.template-preview-column h3.text-info {
  text-align: right;
}
.template-preview-column h2 {
  text-align: right;
  border-bottom: 1px solid #ccc;
}
.book h1  {
  border-bottom: 1px solid #ccc;
}
.template-preview h3{
  font-size: 36px;
}
.template-preview p, .book-page p {
  font-size: 16px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 5px;
}
.template-preview input,
.template-preview textarea, .book-page input, .book-page textarea{
  width: 75%;
  padding: 8px 15px;
  margin-bottom: 20px;
}

.btn-close {
  float: right;
}

.information {
  text-align: center;
}

.authentication .sign-out{
  margin: 10em 0em 0em 0em;
}
.authentication .btn-light{
  margin: 5pt;
}

.authentication .information .book-link{
  color: white;
  text-decoration: none;
}

.book-list .list-group .list-group-item {
  display: flex;
}

.book-list .list-group .book-link{
  color: black;
  text-decoration: none;
}
.btn-primary, .book .btn-secondary {
  margin: 10pt;
}

.book .add-page{
  display: block;
}
.book-page-content{
   width: 75%;
}

.alert-dismissible{
  position:fixed; 
  width: 70%;
  height: 45pt;
  z-index: 10;
}
.template-creator .form-check{
  margin: 10pt 0 0 0;
}
