@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.note {
  display: flex;
  justify-content: space-between;
  align-items: center;

  strong{
    margin-right: 1rem;
  }
}

.template-creator-column {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  
}
.template-creator-row{
  height: 100vh;
}

.instruction {
  color: green;
}
.template-creator-column .list-group-item{
  z-index: 1;
}
.template-creator-column .list-group-item .btn-close{
  z-index: 2;
}

